.card {
    border: 1px solid rgb(233, 224, 224);
    width: 200px;
    padding: 20px;
    box-shadow: 5px 2px 5px rgb(162, 163, 214);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    height: 250px;
}
.IMG {
    border-radius: 50%;
}