.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 2rem;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease; 
}
.inputNadd-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

input{
  padding: 4px;
}
.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}
