
.Counter-container {
  text-align: center;
}
.Count-disply {
  font-size: 5em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn {
  background-color: hsl(197, 100%, 58%);
  color: white;
  padding: 10px;
  margin-top: 2px;
  border: none;
  margin: 5px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.btn:hover {
  background-color: rgb(93, 75, 110);
}